/* start of section 2 css */

#section2{
    box-sizing: border-box;
    display: flex;
    padding: 2rem;   
    margin-left: 4rem;
    font-family: 'Roboto', sans-serif;
}

.sec2{
    border: 1px solid #cccccc;
    padding: 3rem;
    margin: 1rem 1.5rem; 
    width: 400px;
    height: 250px;
}

.sectionhead{
    margin-top: -2rem;
}

.select-amount{
    background-color: #363435;
    color: white;
    padding: 0.5rem;
     margin-top: -50px;
    text-align: center;
    height: 40px;
    width: 480px;
    margin-left: -48px;
}

.btnmoney{
    display: block;
    margin: 0.5rem;
    background-color: #C4C4C4;
    color: white;
    width: 10rem;
    height: 2rem;
    border-style: none;
}

.money{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
}

.money1{
    margin-top: 5px;
}

.donatenow{
    display: block;
    color:  #FFFFFF;
    background-color: #FF8022;
    border-style: none;
    margin: 1rem;
    margin-left: 50px;
    width: 11rem;
    height: 2rem;
}

.other-money{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-left: 2rem;
}

#other-amount{
    display: block;
    width: 10rem;
    height: 1.5rem;
    background-color: #C4C4C4;
    color: white;
    border-style: none;
    padding: 5px;
    margin-left: 50px;
    text-align: center;
}



@media screen and (max-width: 550px) {

    #section2{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* padding: 2rem;   
        margin-left: 4rem;
        font-family: Montserrat; */
    }
}

/* End of section 2 css */