#about{
	background-color:orange; #ffb833;
	color: #fff;

}

.text{
	float:left;
	width:40%;
	padding-left: 5%;
}
.pic{
	float:right;
	width:49%;
}

 h2,p{
	font-family:georgia;

}

.text h2{
	font-size:35px;

}

.text p{
	line-height:1.5em;
	font-size: 23px;
}

.pic {
	margin-top: 4%;
}
.pic img{
	border-radius:10px;
	box-shadow: 17px 19px #ffc14d;
}
#readMore{
	background-color:#ffa600;
	color: #fff;
	border-color:#ffa600;
	height: 40px; 
	font-family: montserrat;
	font-size: 20px;
	border:none;
	width:37%;
	box-shadow: 0 0 10px rgba(0, 0, 0 , .2);
}

hr{
	color:#e0e0e0;
	background-color: #e0e0e0; 
	border-color: #e0e0e0;
	margin: 0 auto 20px auto;
	width: 100px !important;
	/*border-width:10px;
	width:70%;*/
	margin-left:-0.5%;
	border-color: #ffa600;

}