.clear {
    clear: both;
}

.separator {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 5px;
}


/* TEAM MEMBERS SECTION*/

#members {
    padding: 60px 0;
    background-color: white;
    text-align: center;
}

#members p {
    padding: 20px 0 60px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
}

#members h3 {
    padding: 0 0 15px;
    font-family: 'norwester';
    font-size: 36px;
    text-transform: uppercase;
}

#members h4 {
    margin-top: -20px;
    font-size: 32px;
    font-weight: 700;
}

#members h4 span {
    display: block;
    position: relative;
    left: -0px;
    top: 10px;
    font-size: 15px;
    background: none;
    padding: 0;
    color: #555151;
}

#members img {
    width: 100%;
    max-width: 240px;
    border-radius: 50%;
    border: 15px solid transparent;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.18);
    transition: all 0.1s ease-in;
}

#members img:hover {
    border: 15px solid lightblue;
    position: relative;
    z-index: 10;
    transition: all 0.1s ease-in;
}

#members span {
    padding: 8px 20px;
    position: relative;
    top: -64px;
    left: -42px;
    display: inline-block;
    background: #4593e3;
    border-radius: 0 16px 16px 0;
    font-size: 16px;
}


/*Team Members Image Effect */

.hover_img {
    display: none
}

.member-profile:hover .unhover_img {
    display: none;
}

.member-profile:hover .hover_img {
    display: block;
}

.team {
    color: rgb(226, 220, 220);
}


/*TEAM SOCIAL MEDIA LINKS */

#members li {
    display: inline-block;
    padding: 0 6px;
    font-size: 18px;
}

#members li a {
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in;
}

#members li a:hover {
    color: rgba(0, 0, 0, 0.7);
}


/* ROWS ARRANGEMENT (4 BY 4) */

.team-row .team_column,
.team_column {
    padding-bottom: 40px;
}


/*RESPONSIVENESS*/

@media (min-width: 568px) and (max-width: 992px) {
    .team-row .team_column,
    .team_column {
        display: inline-block;
        max-width: 70%;
    }
    #members img {
        max-width: 300px;
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 992px) {
    .team_column {
        float: left;
        width: 25%;
    }
}

.body-custom {
    background-color: whitesmoke;
}

h3 {
    color: black;
}

h4 {
    color: grey;
}

.below-about-us {
    margin: 50px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container>div {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    width: 50%;
}

.about-image {
    margin-top: 50px;
    width: 450px;
    height: 300px;
    border-radius: 40px;
}

.partners {
    text-align: center;
    margin-top: -20px;
    color: black;
}

#our-partners:after {
    display: block;
    height: 3px;
    background-color: #ff8121;
    content: " ";
    width: 80px;
    margin-top: 10px;
}

.welcome {
    color: black;
    font-size: 40px;
}

.partners {
    text-align: center;
    margin-top: -20px;
}

​ h2:after {
    display: block;
    height: 3px;
    background-color: #ff8121;
    content: " ";
    width: 80px;
    margin-top: 10px;
}

​ .partners>h2:after {
    width: 50px;
    margin-left: 650px;
    margin-top: 5px;
    font-size: 32px;
}

​ .logos>img {
    margin-right: 20px;
}

.logos>img:nth-child(1) {
    margin-bottom: 5px;
}

​ .logos>img:nth-child(2) {
    margin-bottom: 5px;
}

.logo {
    margin-top: 50px;
    margin-left: 100px;
}

.about-paragraph {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Kinshasa.png);
}