/*
Page Name: Team Page
Contributors: Team_Stockholm
*/

body {
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 160%;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all 0.1s ease-in;
}

img {
    border: 0;
}

.clear {
    clear: both;
}

.separator {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 5px;
}


/* TEAM MEMBERS SECTION*/

#members {
    padding: 60px 0;
    background-color: whitesmoke;
    text-align: center;
}

#members p {
    padding: 20px 0 60px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
}

#members h3 {
    padding: 0 0 15px;
    font-family: 'norwester';
    font-size: 36px;
    text-transform: uppercase;
}

#members h4 {
    margin-top: -20px;
    font-size: 32px;
    font-weight: 700;
}

#members h4 span {
    display: block;
    position: relative;
    left: -40px;
    top: 10px;
    font-size: 20px;
    background: none;
    padding: 0;
}

#members img {
    width: 100%;
    max-width: 240px;
    border-radius: 50%;
    border: 15px solid transparent;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.18);
    transition: all 0.1s ease-in;
}

#members img:hover {
    border: 15px solid rgb(216, 108, 6);
    position: relative;
    z-index: 10;
    transition: all 0.1s ease-in;
}

#members span {
    padding: 8px 20px;
    position: relative;
    top: -64px;
    left: -42px;
    display: inline-block;
    background: #4593e3;
    border-radius: 0 16px 16px 0;
    font-size: 16px;
}


/*Team Members Image Effect */

.hover_img {
    display: none
}

.member-profile:hover .unhover_img {
    display: none;
}

.member-profile:hover .hover_img {
    display: block;
}


/*TEAM SOCIAL MEDIA LINKS */

#members li {
    display: inline-block;
    padding: 0 6px;
    font-size: 18px;
}

#members li a {
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in;
}

#members li a:hover {
    color: rgba(0, 0, 0, 0.7);
}


/* ROWS ARRANGEMENT (4 BY 4) */

.row2 {
    display: none;
}

.row1 .col-md-3,
.row2 .col-md-3 {
    padding-bottom: 40px;
}


/*RESPONSIVENESS*/

@media (min-width: 568px) and (max-width: 992px) {
    .row1 .col-md-3,
    .row2 .col-md-3 {
        display: inline-block;
        max-width: 50%;
    }
    #members img {
        max-width: 300px;
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px) {
    .col-md-3 {
        float: left;
        width: 25%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.body-custom {
    background-color: whitesmoke;
}

h3 {
    color: black;
}

h4 {
    color: grey;
}